<h1> hai
andrea@mbair ~/Works/12dos/bookmarks % rails generate scaffold bookmark title:string url:string
    invoke  active_record
    create    db/migrate/20130614142337_create_bookmarks.rb
    create    app/models/bookmark.rb
    invoke  resource_route
     route    resources :bookmarks
    invoke  scaffold_controller
    create    app/controllers/bookmarks_controller.rb
    [...]
    </h1><hr><h3>Packt Publishing <span class="label label-default">New Books!</span></h3>
    <%= render "" %>