<h1 align="center" class= bg-primary> Movie Ticket Booking </h1><hr>
<ol class="breadcrumb" >

<li><%= link_to "home" %></li>
<li><%= link_to 'Login',controller:"stores" ,:action=> 'login'%></li>
<li><%= link_to 'registration' %></li>

</ol><hr>